.block-uptolike{
	.uptl_container{
		padding: 8px!important;
		border: 1px solid #ffffff!important;
		border-radius: 5px;
		background-color: #1d2475;
		box-shadow: inset -37px 0px 0px -10px #0c1044;
		ul{
			
		}
	}
	.uptl_container .uptl_toolbar.uptl_toolbar_share ul{
		
	}
}