.bredcrumbs{
	height: 84px;
	position: relative;
	z-index: 1;
	background: transparent url('../images/bredcrumbs-bac.png') 50% top no-repeat;
	@include m1920{
		background-size: 100% 100%;
	}
	&_item{
		float: left;
		font-size: 15px;
		color: #364fca;
	}
	&_link{	
		text-decoration: none;
		@include link(#364fca, lighten(#364fca, 20%));
		padding: 0 0 0 5px;
		.bredcrumbs_item:first-child{
			padding: 0;
		}
	}
	&_span{
		font-size: 15px;
		color: #bd2701;
		padding-left: 5px;
	}
	&_list{
		@include clearfix;
		padding: 16px 0 0;
	}
}