.gallery{
	@include clearfix;
	&_item{
		float: left;
		width: 23.16%;
		margin: 0 0 72px 2.45%;
		&:nth-child(4n-3){
			margin: 0;
		}
	}
	&_img{
		display: block;
		border: 3px solid #4666d8;
		margin: 0 0 35px;
		position: relative;
		&:after{
			box-sizing: border-box;
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border: 1px solid #fff;
			transition: border-color 0.2s;
		}
		.gallery_item:hover &{
			&:after{
				border-color: #4666d8;
			}
		}
		img{
			display: block;
			width: 100%;
			height: auto;
		}
	}
	&_name{
		display: block;
		font-weight: bold;
		font-size: 14px;
		@include link(#fff, #fff);
		text-decoration: none;
		text-align: center;
	}
}