.gmap{
	height: 583px;
	background-color: #ccc;
	.contacts-type &,
	.node-type-webform &{
		margin: -27px 0 0;
	}
	&_map{
		height: 583px;
		position: relative;
		z-index: 1;
	}
	&_inner{
		position: relative;
		z-index: 2;
	}
}