.sitecontent{
	margin: -33px 0 0;
	padding: 43px 0 50px;
	background: transparent url('../images/bac.jpg') 50% top no-repeat;
	background-size: cover;
	h1{
		text-align: center;
		font-size: 29px;
		line-height: 1;
		color: #364fca;
		text-transform: uppercase;
		position: relative;
		padding: 0 265px;
		margin: 0 0 30px;
		&:before{
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			margin-top: -3px;
			width: 270px;
			height: 6px;
			background: transparent url('../images/color-line.png') left top no-repeat;
		}
		&:after{
			content: '';
			position: absolute;
			right: 0;
			top: 50%;
			margin-top: -3px;
			width: 270px;
			height: 6px;
			background: transparent url('../images/color-line.png') left top no-repeat;
		}
	}
	&__gallery{
		background-image: url('../images/bac-gallery.jpg');
		position: relative;
		z-index: 0;
		&:after{
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 8px;
			background-color: #efefef;
		}
		h1{
			color: #fff;
		}
	}
	&__contacts{
		//height: 725px;
		background: rgba(113,151,240,1);
		background: linear-gradient(to bottom, rgba(113,151,240,1) 0%, rgba(198,216,255,1) 100%);
		padding: 43px 0 0;
		//margin-bottom: -46px;
		//position: relative;
		h1{
			margin: 0 0 40px;
		}
	}
}