.sitebanner{
	//background-color: #ccc;
	height: 557px;
	padding: 13px 0 26px;
	&_bac{
		height: 518px;
		background: transparent url('../images/sitebanner-bac.jpg') 50% top no-repeat;
		background-size: cover;
		@include m1600{
			background-size: 100% 100%;
		}
	}
	&_inner{
		width: 1170px;
		margin: 0 auto;
		position: relative;
	}
	&_family{
		position: absolute;
		right: -56px;
		top: 126px;
		z-index: 0;
		animation-name: family;
		//animation-delay: 3s;
		animation-duration: 4000ms;
		animation-timing-function: ease-in-out;
		animation-iteration-count: infinite;
	}
	&_water{
		position: absolute;
		right: -212px;
		top: 278px;
		z-index: 1;
		animation-name: waterg,
										waterv;
		//animation-delay: 3s;
		animation-duration: 8000ms,
												3000ms;
		animation-timing-function: ease-in-out;
		animation-iteration-count: infinite;
	}
	&_text{
		position: absolute;
		top: 44px;
		left: 383px;
		z-index: 2;
	}
	&_girl{
		position: absolute;
		top: 258px;
		left: 343px;
		z-index: 3;
		animation-name: girlv,
										girlg;
		//animation-delay: 3s;
		animation-duration: 2000ms,
												8000ms;
		animation-timing-function: ease-in-out;
		animation-iteration-count: infinite;
	}
	&_droplets{
		transform: translateZ(0);
		position: absolute;
		top: 202px;
		left: 234px;
		z-index: 4;
		animation-name: droplets;
		animation-duration: 5000ms;
		animation-timing-function: ease-in-out;
		animation-iteration-count: infinite;
	}
	&_man{
		position: absolute;
		top: -13px;
		left: -61px;
		z-index: 5;
	}
	&_wrap{
		border: 3px solid #fff;
		border-radius: 5px;
		text-align: center;
		//margin: 225px 0 0;
		width: 352px;
		padding: 4px;
		box-shadow: 0px 12px 21px 0px rgba(0,19,113,1);
		position: absolute;
		z-index: 6;
		top: 428px;
		left: 50%;
		margin-left: -176px;
	}
	&_link{
		cursor: pointer;
		position: relative;
		font-size: 18px;
		font-weight: bold;
		@include link(#fff, #fff);
		text-decoration: none;
		text-align: center;
		text-transform: uppercase;
		display: inline-block;
		padding: 0;
		background: rgba(246,101,4,1);
		background: linear-gradient(to bottom, rgba(241,98,1,1) 0%, rgba(194,26,0,1) 100%);
		height: 52px;
		padding: 15px 0 0;
		width: 100%;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
		border: 1px solid #9e8e22;
		box-shadow: inset 0px 5px 5px -5px rgba(245,78,0,0.5),
		 						0px 1px 3px 0px rgba(245,78,0,1);
		border-radius: 4px;
		&:hover{
			background: linear-gradient(to bottom, rgba(194,26,0,1) 0%, rgba(241,98,1,1) 100%);
		}
		&:active{
			box-shadow: none;
		  top: 2px;
		}
		@include old-ie{
			*display: block;
			*height: 33px;
		}
	}
}
@keyframes girlv{
	50%{
		top: 268px;
	}
	100%{
		top: 258px;
	}
}
@keyframes girlg{
	50%{
		left: 323px;
	}
	100%{
		left: 343px;
	}
}
@keyframes waterg{
	50%{
		right: -202px;
	}
	100%{
		right: -212px;
	}
}
@keyframes waterv{
	50%{
		top: 288px;
	}
	100%{
		top: 278px;
	}
}
@keyframes family{
	50%{
		top: 136px;
	}
	100%{
		top: 126px;
	}
}
@keyframes droplets{
	50%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
@keyframes dropletszoom{
	50%{
		transform: scale(1.2);
	}
	100%{
		transform: scale(1);
	}
}