.siteform{
	overflow: hidden;
	padding: 20px 0 0;
	margin-top: -20px;
	&_bac{
		height: 208px;
		background: #002357 url('../images/siteform-bac.jpg') 50% top no-repeat;
		background-size: cover;
	}

	&_yellow{
		color: #ffd308;
	}
	&_inner{
		position: relative;
	}
	&_boy{
		position: absolute;
		z-index: 0;
		left: -119px;
		top: -20px;
	}
	&_text{
		position: absolute;
		z-index: 1;
		left: 32px;
		top: 37px;
	}
	&_title{
		text-align: right;
		font-size: 36px;
		color: #fefefe;
		font-weight: bold;
		text-transform: uppercase;
		padding: 43px 11px 0 0;
		position: relative;
		z-index: 2;
	}
	&_form{
		position: absolute;
		z-index: 3;
		top: 99px;
		right: 0;
		@include clearfix;
		border: 1px solid #fff;
		padding: 13px;
		&__confirm{
			margin: 0 12px 0 0;
		}
	}
	&_input{
		width: 242px;
		float: left;
		margin: 0 34px 0 0;
		position: relative;
		input{
			width: 100%;
			height: 37px;
			border: 1px solid #cecece;
			position: relative;
			padding: 0 0 0 70px
		}
		input.error{
			//border-color: #DE0000;
			box-shadow: inset 0px 0px 10px 0px rgba(222,0,0,1);
		}
		&__name{
			&:before{
				content: '';
				position: absolute;
				z-index: 1000;
				width: 21px;
				height: 21px;
				display: block;
				top: 8px;
				left: 12px;
				background: transparent url('../images/siteform-icons.png') left top no-repeat;
			}
			&:after{
				content: 'Имя:';
				position: absolute;
				top: 13px;
				left: 40px;
				color: #454545;
				font-size: 12px;
			}
		}
		&__phone{
			input{
				padding: 0 0 0 98px;
			}
			&:before{
				content: '';
				position: absolute;
				z-index: 1000;
				width: 21px;
				height: 21px;
				display: block;
				top: 8px;
				left: 12px;
				background: transparent url('../images/siteform-icons.png') -21px top no-repeat;
			}
			&:after{
				content: 'Телефон:';
				position: absolute;
				top: 13px;
				left: 40px;
				color: #454545;
				font-size: 12px;
			}
		}
	}
	&_submit{
		float: left;
		width: 268px;
		input{
			width: 100%;
			height: 37px;
			position: relative;
			font-size: 19px;
			font-weight: bold;
			@include link(#fefefe, #fefefe);
			text-decoration: none;
			text-align: center;
			text-transform: uppercase;
			display: inline-block;
			padding: 2px 0 0;
			background: rgba(246,101,4,1);
			background: linear-gradient(to bottom, rgba(255,109,2,1) 0%, rgba(201,67,0,1) 100%);	
			text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
			border: 1px solid #c94300;
			border-bottom: none;
			box-shadow: inset 0px 1px 0px 0px rgba(255,193,148,1),
			 						0px 2px 0 0px rgba(8,8,8,0.1);
			border-radius: 4px;
			cursor: pointer;
			&:hover{
				background: linear-gradient(to bottom, rgba(201,67,0,1) 0%, rgba(255,109,2,1) 100%);
			}
			&:active{
				box-shadow: none;
			  top: 2px;
			}
			@include old-ie{
				*display: block;
				*height: 35px;
			}
		}
	}
	&_confirmation{
		color: #fff;
	}
	.messages{
		display: none;
	}
}