/*@font-face {
    font-family: 'fontmyriad';
    src: url('../fonts/MyriadProCondBold.eot');
    src: url('../fonts/MyriadProCondBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MyriadProCondBold.woff') format('woff'),
         url('../fonts/MyriadProCondBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}*/